nav {
  .nav-wrapper {
    padding-right: 50px;
  }

  .brand-logo {
    padding-left: 0;

    @media screen and (min-width: 993px) {
      padding-left: 50px;
    }
  }
}

.navbar-fixed {
  z-index: 998;
}
